<div class="idea-entry" id="idea-<%= idea.id %>">

  <% if user_signed_in? %>
    <%= link_to vote_idea_path(idea), method: :put, remote: true do %>
      <% if current_user.voted_for? idea %>
        <div class="voted">
          <i class="fa fa-arrow-up"></i>
          <div class="vote-count"><%= idea.get_likes.size %></div>
        </div>
      <% else %>
        <div class="novote">
          <i class="fa fa-arrow-up"></i>
          <div class="vote-count"><%= idea.get_likes.size %></div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="vote">
      <i class="fa fa-arrow-up"></i>
      <div class="vote-count"><%= idea.get_likes.size %></div>
    </div>
  <% end %>

  <div class="idea-info">
    <div class="small-heading"><%= link_to idea.title, idea_path(idea) %></div>
    <!--<span class="difficulty"><%= idea.difficulty %></span><span class="circle"></span>-->  
    <% for category in idea.categories %>
      <span class="category-name"><%= link_to category.name, category_path(category) %></span>
    <% end %>
    <br />
    <%= link_to image_tag(idea.user.avatar.url(:icon)), idea.user %>
    <span class="user"><%= link_to idea.user.name, idea.user %></span>
    <span class="timestamp">
      posted <%= time_ago_in_words(idea.created_at) %> ago.
    </span>
    <div class="content">
      <%= truncate(idea.content, length: 180) %>
      <% if idea.content.length > 180 %>
        <%= link_to "See more", idea_path(idea) %>
      <% end %>
    </div>
  </div>
  <hr>
</div>
