<li class="idea-entry" id="idea-<%= idea.id %>">
  <span class="title"><%= idea.title %></span>
  <br />
  <%= link_to gravatar_for(idea.user), idea.user %>
  <span class="user"><%= link_to idea.user.name, idea.user %></span>
  <span class="timestamp">
    posted <%= time_ago_in_words(idea.created_at) %> ago.
  </span>
  <br />
  <span class="content"><%= idea.content %></span>
  <br />
  <hr>
</li>