<% provide(:title, "Edit Idea") %>

<div class="heading">Edit your idea</div>

<%= form_for(@idea) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true, placeholder: @idea.title %>
  </div>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, rows: "10", placeholder: @idea.content %>
  </div>

  <div class="actions">
    <%= f.submit "Update Idea" %>
  </div>
<% end %>