<% provide(:title, "Edit Idea") %>

<div class="heading">Edit your idea</div>

<%= form_for(@idea) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true, placeholder: @idea.title, maxlength: 50 %>
  </div>

  <div class="field">
    <%= f.label :summary %><br />
    <%= f.text_field :summary, placeholder: @idea.summary, maxlength: 120 %>
  </div>

  <div class="field">
    <%= f.label :problem %><br />
    <%= f.text_field :problem, placeholder: @idea.problem, maxlength: 120 %>
  </div>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, rows: "10", placeholder: @idea.content, maxlength: 1500 %>
  </div>

<!--
  <div class="field">
    <%= f.label :difficulty %>
    <ul class="multi-column">
      <li>
        <label>
          <%= f.radio_button :difficulty, "Beginner" %>
          <%= f.label :beginner %>
        </label>
      </li>
      <li>
        <label>
          <%= f.radio_button :difficulty, "Intermediate" %>
          <%= f.label :intermediate %>
        </label>
      </li>
      <li>
        <label>
          <%= f.radio_button :difficulty, "Professional" %>
          <%= f.label :professional %>
        </label>
      </li>
    </ul>
  </div>
-->

  <div class="field">
    <%= f.label :pick_at_most_3_categories %>
    <ul class="multi-column">
      <% for category in Category.all %>
        <li>
          <label>
            <%= check_box_tag "idea[category_ids][]", category.id %>
            <%= category.name %>
          </label>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="actions">
    <%= f.submit "Update Idea" %>
  </div>
<% end %>