<% provide(:title, "New Idea") %>

<%= form_for(@idea) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

	<div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, rows: "10" %>
  </div>
	
	<div class="actions">
    <%= f.submit "Post idea" %>
  </div>
  
<% end %>