<% provide(:title, @idea.title) %>

<li class="idea-entry" id="idea-<%= @idea.id %>">
  <span class="heading"><%= @idea.title %></span>
  <br />
  <span class="difficulty"><%= @idea.difficulty %></span><span class="circle"></span>
  <% for category in @idea.categories %>
    <span class="category-name"><%= link_to category.name, category_path(category) %></span>
  <% end %>
  <br />
  <%= link_to image_tag(@idea.user.avatar.url(:icon)), @idea.user %>
  <span class="user"><%= link_to @idea.user.name, @idea.user %></span>
  <span class="timestamp">
    posted <%= time_ago_in_words(@idea.created_at) %> ago.
  </span>
  <br />
  <span class="content"><%= @idea.content %></span>
  <br />
  <% if current_user == @idea.user %>
    <%= link_to "Edit", edit_idea_path(@idea) %>
    <%= link_to "Delete", @idea, method: :delete,
                                       data: { confirm: "You sure?" } %>
  <% end %>
  <hr>
</li>

<%= form_for([@idea, @comment]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.text_area :content, rows: "5", placeholder: "Compose new comment..." %>
  <br />
  <%= f.submit "Post Comment", class: "btn btn-sm button" %>
<% end %>

<br />

<%= render @comments %>
