<% provide(:title, @idea.title) %>

<li class="idea-entry" id="idea-<%= @idea.id %>">
	<span class="title" style="font-size:200%;"><%= @idea.title %></span>
	<br />
	<span class="content"><%= @idea.content %></span>
</li>

<%= form_for([@idea, @comment]) do |f| %>
  <%= f.text_area :content, placeholder: "Compose new comment..." %>
  <br />
  <%= f.submit "POST", class: "btn btn-sm" %>
<% end %>