<li class="notification-entry" id="notification-<%= notification.id %>">
	<%= link_to idea_path(notification.idea, anchor: "comment-#{notification.comment_id}") do %>
	  <%= image_tag notification.user.avatar.url(:icon) %>
	  <span class="content"><%= notification.content %></span>
	  <br />
	  <span class="timestamp"><%= time_ago_in_words(notification.created_at) %> ago</span>
	  <hr>
  <% end %>
</li>