<% if notification.read %>
  <li class="notification-entry" id="notification-<%= notification.id %>">
<% else %>
  <li class="notification-entry unread" id="notification-<%= notification.id %>">
<% end %>
		<%= link_to idea_path(notification.idea, anchor: "comment-#{notification.comment_id}", :notification_id => notification.id) do %>
		  <!-- <%= image_tag notification.user.avatar.url(:icon) %> -->
			<%= image_tag notification.comment.user.avatar.url(:icon) %> <%= notification.content %>
			<br />
		  <span class="timestamp"><%= time_ago_in_words(notification.created_at) %> ago</span>
	  <% end %>
	  <hr>
	</li>