<% provide(:title, @user.name) %>

<div class="row">
  <div class="col-md-4">
    <section class="user-info">
      <%= image_tag @user.avatar.url(:medium) %>
      <br />
      <span class="name"><%= @user.name %></span>
      <br />
      <% if current_user == @user %>
        <ul>
          <li><%= link_to "Settings", edit_user_registration_path(current_user) %></li>
          <li><%= link_to "Update your information", edit_additional_registration_path(current_user) %></li>
          <li><%= link_to "Update your interests", edit_category_registration_path(current_user) %></li>
        </ul>
      <% end %>
      <ul>
        <% for category in @user.categories %>
          <span><%= category.name %></span>
        <% end %>
      </ul>
    </section>
  </div>

  <div class="col-md-8">
  	<ol class="user-ideas">
      <%= render @ideas %>
  	</ol>
  </div>
</div>