<% provide(:title, "Update your interests") %>

<div class="heading" style="text-align:center;">Choose your interests</div>

<%= form_for @user, url: {action: "update"} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="category-holder">
    <% for category in Category.all %>
      <% already_selected = @user.categories.include?(category) %>
      <% if already_selected %>
        <label class="category selected">
          <!-- The hidden field tag allows me to deselect and save empty checkboxes -->
          <%= hidden_field_tag "user[category_ids][]", '' %>
          <%= check_box_tag "user[category_ids][]", category.id, already_selected, :style => 'display: none', class: 'checkbox' %>
          <%= category.name %>
        </label>
      <% else %>
        <label class="category">
          <!-- The hidden field tag allows me to deselect and save empty checkboxes -->
          <%= hidden_field_tag "user[category_ids][]", '' %>
          <%= check_box_tag "user[category_ids][]", category.id, already_selected, style: 'display: none', class: 'checkbox'  %>
          <%= category.name %>
        </label>
      <% end %>
    <% end %>
    <div class="actions">
      <%= f.submit "Update", class: "button" %>
    </div>
  </div>
<% end %>

<!-- This script allows me to highlight a category when I click its label and unhighlight a category when I click it again -->
<script>
  $(".checkbox").click(function(evt) {
    if ($(this).parent().hasClass("selected")) {
      $(this).parent().removeClass("selected");
    } else {
      $(this).parent().addClass("selected");
    }
  });
</script>