<% provide(:title, "Update your interests") %>

<h2>Update your interests</h2>

<%= form_for @user, url: {action: "update"} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <% for category in Category.all %>
    <% already_selected = @user.categories.include?(category) %>
    <% if already_selected %>
      <label class="category selected">
        <!-- The hidden field tag allows me to deselect and save empty checkboxes -->
        <%= hidden_field_tag "user[category_ids][]", '' %>
        <%= check_box_tag "user[category_ids][]", category.id, already_selected, :style => 'display: none' %>
        <%= category.name %>
      </label>
    <% else %>
      <label class="category unselected">
        <!-- The hidden field tag allows me to deselect and save empty checkboxes -->
        <%= hidden_field_tag "user[category_ids][]", '' %>
        <%= check_box_tag "user[category_ids][]", category.id, already_selected, :style => 'display: none' %>
        <%= category.name %>
      </label>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<!-- This script allows me to highlight a category when I click its label and unhighlight a category when I click it again -->
<script>
  $("label").click(function(evt) {
    if ($(this).hasClass("selected")) {
      console.log("has class selected")
      $(this).removeClass("selected");
      $(this).addClass("unselected");
    } else {
      console.log("doesn't have class selected")
      $(this).removeClass("unselected");
      $(this).addClass("selected");
    }
    evt.stopPropagation();
    evt.preventDefault();
  });
</script>