<!DOCTYPE html>
<html>
	<head>
	  <title><%= full_title(yield(:title)) + " - Discover the next great startup" %></title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <%= render 'layouts/shim' %>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta name="description" content="Share and discuss your ideas. Be inspired by the ideas of others. Work together to bring ideas to reality.">
	  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	  <%= favicon_link_tag 'unicorn_favicon.png' %>
	</head>

	<body>
		<%= render 'layouts/header' unless @disable_nav %>

		<div class="center-content">

			<% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>

			<%= yield %>
		</div>
		<%= render 'layouts/footer' %>
	</body>
</html>
